<% content_for(:title, "Project Cutenberg | Chapter") %>

<h2>Chapter <%= @chapter.number %>: <%= @chapter.title %></h2>

<pre class="chapter-text" style="white-space: pre-line;">
  <%= @chapter.body %>
</pre>

<p>
  <%= link_to "Back to all chapters", chapters_path %> |
  <%= link_to edit_chapter_path(@chapter) do %><i id="edit" class="fa fa-cog"></i> Edit<% end %> |
  <%= link_to chapter_path(@chapter), :data => {:confirm => "You sure you want to delete this?", :method => "delete"} do %><i class="fa fa-trash-o"></i> Delete<% end %>
</p>
